*{
  font-family: 'Karla', sans-serif;

}

.landing-page{

  background-image: url('/images/ToonFeed_LandingPage-01.png');

}

.landing-font{
  
  font-family: 'Karla'

}

.landing-button-space{
  margin-top: 2%;
}

.profilePicture{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.dashboard-container{
  padding: 5% 20% 0 20%;
}

.data-down{
  margin-top: 5%;
}

.each-post{
  text-align: center;
  margin: 2%;
}

.post-default-image{
  width: 5%;
  height: 5%;
  border-radius: 50%;
}

.explore-image{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.left-align{
  /* margin-right: 20%; */
  margin: 0 40% 0.5% 0;
}

.img-posts{
  width: 50%;
  height: 50%;
}

.search-all-header{
  /* border: 1px black solid; */
  text-align: center;
  padding-top: 10%;
}

.search-all{
  text-align: center;
}

.center-align{
  text-align: center;
  padding-top: 4%;
}

.follow-align{
  text-align: center;
}

.follow-button{
  width: 25%;
}

.edit-container{
  text-align: center;
}

.card-img-top {
  object-fit: cover;
}

.profile-pictures{
  list-style: none;
} 

.explore-button-div{
 padding-top: 4%;
}

.button-color{
  background-color: #438DFF;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;

}

.upload-tag{
  padding-left: 12%;
}

.profile-name{
  font-weight: bold;
  color: #438DFF
}

.nav-image{
  height: 35px;
  width: 180px;

}

.nav-image-landing{
  height: 50px;
}

.landing-container{
  margin-top: 16%;
  text-align: center;
}

.landing-a-tag{
  text-decoration: none;
  color: white;
}

.landing-image{

  width: 60%;


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card-img-top {
      height: 19vw;

  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-img-top {
      height: 16vw;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-img-top {
      height: 20vw;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
  .card-img-top {
      height: 20vw;
  }
}