.profilePicture{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.dashboard-container{
  margin-top: 5%;
}

.data-down{
  margin-top: 5%;
}

.each-post{
  text-align: center;
  margin: 2%;
}

.post-default-image{
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.left-align{
  /* margin-right: 20%; */
  margin: 0 20% 0.5% 0;
}

.img-posts{
  width: 50%;
  height: 50%;
}